body {
	background-color: #e4ebe9;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-size: 24px;
}

.container {
	border: 2px solid #bfd766;
	background-color: #fff;
}

.header {
	background: url('./images/pic8.png');
	height: 172px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.sidebar {
	background-color: #bfd766;
	height: 100vh;
	color: #fff;
	margin: 30px 0 0 0;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-topleft: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.sidebar h2 {
	margin: 20px 0 35px 0;
    text-align: center;
}

.sidebar .flag_england, .sidebar .flag_germany, .sidebar .flag_france {
	margin: 0 0 10px 30px;
}

.sidebar .flag_england:before {
	content: "";
	background: url("./images/pic2.png");
	width: 26px;
	height: 26px;
	display: block;
	position: absolute;
    left: 10px;
}

.sidebar .flag_germany:before {
	content: "";
	background: url("./images/pic1.png");
	width: 26px;
	height: 26px;
	display: block;
	position: absolute;
    left: 10px;
}

.sidebar .flag_france:before {
	content: "";
	background: url("./images/pic.png");
	width: 26px;
	height: 26px;
	display: block;
	position: absolute;
    left: 10px;
}

.sidebar .flag_england a, .sidebar .flag_germany a, .sidebar .flag_france a {
	font-size: 18px;
	padding: 0 0 5px 0;
	display: block;
	color: #fff;
}

.sidebar .flag_england a:hover, .sidebar .flag_germany a:hover, .sidebar .flag_france a:hover {
	cursor: pointer;
}

.sidebar .flag_england span, .sidebar .flag_germany span, .sidebar .flag_france span {
	font-weight: 600;
}

.content {
	margin: 30px 0 0 0;
}

.content h2 {
	color: #94a442;
	padding: 20px 0 30px 0;
	text-transform: uppercase;
}

.content .advertising {
	background-color: #e9e9e9;
	height: 616px;
	color: #4a4a4a;
	text-align: center;
}

.match_info {
	background-color: #bfd766;
	font-size: 12px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	color: #445932;
}

.match_info .flag img{
	margin: 10px 0;
}

.match_info .txt p{
	margin: 15px 0;
	color: #445932;
}

.match_info .stat, .match_info .comm {
	text-align: right;
	margin: 15px 0 5px 0; 
}

.match_info .stat a, .match_info .comm a {
	color: #445932;
}

.match_info .stat:before {
	content: "";
	background: url("./images/pic3.png");
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
    left: -2px;
    bottom: 0px;

}

.match_info .comm:before {
	content: "";
	background: url("./images/pic6.png");
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
    left: -2px;
    bottom: 0px;

}

.info_head {
	background-color: #eaeaea;
	padding: 20px 0;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
}

.info_head h3 {
	font-style: 18px;
	text-align: center; 
}

.event {
	padding: 5px 15px;
	height: 33px;
}

.detailes {
	padding: 10px 15px;
	height: 33px;
}

.detailes p {
	font-size: 12px;
}

.first_event .detailes, .first_event .event{
	background-color: #f6f6f6;
}


.seccond_event .detailes, .seccond_event .event{
	background-color: #eaeaea;
}

.seccond_event.last .detailes{
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
}

.seccond_event.last a{
	text-transform: uppercase;
	text-align: right;
	font-size: 12px;
	display: block;
}

.seccond_event.last a:before {
	content: "";
	background: url("./images/pic7.png");
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
    right: 100px;
    top: 5px;
}

.match {
	margin: 0 0 25px 0;
}


.content .title_league {
	background: #bfd766;
	padding: 15px;
	border-radius: 6px;
}

.content .flag_england, .content .flag_germany, .content .flag_france {
	padding: 10px 0 10px 40px;
}

.content .flag_england:before {
	content: "";
	background: url("./images/pic2.png");
	width: 26px;
	height: 26px;
	display: block;
	position: absolute;
    left: 20px;
    top: 8px;
}

.content .flag_germany:before {
	content: "";
	background: url("./images/pic1.png");
	width: 26px;
	height: 26px;
	display: block;
	position: absolute;
    left: 10px;
    top: 12px;
}

.content .flag_france:before {
	content: "";
	background: url("./images/pic.png");
	width: 26px;
	height: 26px;
	display: block;
	position: absolute;
    left: 10px;
    top: 12px;
}

.content .flag_england p, .content .flag_germany p, .content .flag_france p {
	font-size: 18px;
	padding: 0 0 0 0;
	display: block;
	color: #fff;
}

.league_event .first_event .match_event, .league_event .first_event .date {
	font-size: 12px;
	background: #f6f6f6;
	padding: 9px 0;
}

.league_event .seccond_event .match_event, .league_event .seccond_event .date {
	font-size: 12px;
	background: #eaeaea;
	padding: 9px 0;
}

.league_event .first_event {
	height: 32px;
	background: #f6f6f6;
}

.league_event .seccond_event {
	height: 32px;
	background: #eaeaea;
}

.league_event .first_event .comments , .league_event .first_event .smile {
    padding: 6px 15px;
    height: 32px;
	background: #f6f6f6;
	font-size: 12px;
	text-align: right;
}

.league_event .seccond_event .comments , .league_event .seccond_event .smile {
    padding: 6px 15px;
    height: 32px;
	background: #eaeaea;
	font-size: 12px;
	text-align: right;
}

.league_event .first_event .comments:before {
	content: "";
	background: url("./images/pic6.png");
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
    left: 10px;
    top: 5px;
}

.league_event .seccond_event .smile:before {
	content: "";
	background: url("./images/pic5.png");
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
    left: 10px;
    top: 5px;
}

.league_event .seccond_event .comments:before {
	content: "";
	background: url("./images/pic6.png");
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
    left: 10px;
    top: 5px;
}

.league_event .first_event .smile:before {
	content: "";
	background: url("./images/pic5.png");
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
    left: 10px;
    top: 5px;
}

.league_event_col {
	margin: 0 0 30px 0;
}

.left_margin_block {
	margin: 0 0 0 30px;
}

.right_margin_block {
	margin: 0 30px 0 0 ;
}

.league_event .left_margin_block, .league_event .right_margin_block  {
	margin: 0 30px;
}

.pseudo_paddings_1 {
	padding: 0 30px 0 15px;
}

.pseudo_paddings_2 {
	padding: 0 15px 0 30px;
}

.adv2{
	background: #e9e9e9;
	height: 298px;
	margin: 0 0 30px 0;
}

.footer {
	background-color: #474747;
	text-align: center;
	bottom: 0;
}

.footer p {
	padding: 200px 0 70px 0;
	color: #fff;
}